<settings>
  <servers>
    <server>
      <id>__SERVERID__</id>
      <username>__USERNAME__</username>
      <password>__PASSWORD__</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>__PROFILEID__</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <gpg.executable>gpg</gpg.executable>
        <gpg.passphrase>__PASSPHRASE__</gpg.passphrase>
      </properties>
    </profile>
  </profiles>
</settings>